.AppBar {
  display: flex;
  align-items: center;
  min-height: 80px;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid #ccc;
  list-style-type: none;
}

li {
  margin-right: 30px;
}

.navLink {
  padding: 5px 10px;
  font-size: 24px;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
}

.active {
  color: #fff;
  background-color: cornflowerblue;
}
